In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_recall_fscore_support, f1_score, fbeta_score, confusion_matrix, r2_score
from datetime import date
import time

import numpy as np
from statistics import mean
from sklearn.impute import KNNImputer
from sklearn import preprocessing

from pyAgrum.lib.bn2roc import showROC_PR

In [2]:
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier

In [3]:
import pyAgrum as gum

In [4]:
import pyAgrum.skbn as skbn
import pyAgrum.lib.notebook as gnb
import pyAgrum.lib.explain as exp

In [5]:
_df = pd.read_excel('20230705_extract_datacraft_v2.xlsx', index_col=0)

In [6]:
df = _df.copy()

In [7]:
#profile = ProfileReport(df, title='Pandas profiling before data preprcessing', minimal=True, progress_bar=False)
#profile.to_notebook_iframe()

# Data preparation

## See uniques values for each column

In [8]:
for col in df.columns :
    print(df[col].value_counts(dropna=False))
    print('\n')

mont_remb_init
250.00    9417
290.00    3131
180.00    1562
110.00     831
430.00     374
          ...
254.15       1
113.68       1
547.61       1
462.29       1
233.66       1
Name: count, Length: 6683, dtype: int64


nb_avr_typ_a
0     17391
1      7928
2      1070
3       226
4        54
5        27
6        16
8        10
7         9
9         5
10        3
73        1
12        1
11        1
Name: count, dtype: int64


nb_avr_typ_b
0    26339
1      331
2       46
3       13
4        8
5        2
6        1
8        1
7        1
Name: count, dtype: int64


nb_avr_typ_c
1     16224
0      7296
2      2730
3       357
4        68
5        30
6        16
10        3
12        2
16        2
9         2
8         2
18        2
15        2
7         1
21        1
24        1
11        1
20        1
22        1
Name: count, dtype: int64


nb_avr_typ_d
0     26277
1       416
2        40
3         4
4         3
38        1
5         1
Name: count, dtype: int64


sum_mont_avr
-250    7856
-290    2728
-180    1173
-110     722
-300     403
        ...
-671       1
-800       1
-22        1
-654       1
-577       1
Name: count, Length: 825, dtype: int64


nb_pa_rjt
0     21355
1      3745
2       709
3       345
4       201
5       123
6        91
7        46
8        44
9        24
10       17
11       16
15        7
12        7
13        5
22        2
14        2
18        1
16        1
17        1
Name: count, dtype: int64


typ_avr_decl
A    18420
B     8002
C      180
D      130
E       10
Name: count, dtype: int64


is_cod_comp_1
0    26725
1       17
Name: count, dtype: int64


is_cod_comp_2
0    25012
1     1730
Name: count, dtype: int64


is_cod_comp_3
0    26742
Name: count, dtype: int64


is_cod_comp_4
0    19490
1     7252
Name: count, dtype: int64


is_cod_comp_5
0    26382
1      360
Name: count, dtype: int64


is_cod_comp_6
0    26709
1       33
Name: count, dtype: int64


is_cod_comp_7
0    26372
1      370
Name: count, dtype: int64


is_cod_comp_8
0    26610
1      132
Name: count, dtype: int64


is_cod_comp_9
0    26177
1      565
Name: count, dtype: int64


is_cod_comp_10
0    25759
1      983
Name: count, dtype: int64


is_cod_comp_11
0    26733
1        9
Name: count, dtype: int64


is_cod_comp_12
0    26742
Name: count, dtype: int64


is_cod_comp_13
0    25867
1      875
Name: count, dtype: int64


is_cod_comp_14
0    26281
1      461
Name: count, dtype: int64


is_cod_comp_15
0    26319
1      423
Name: count, dtype: int64


is_cod_comp_16
0    26741
1        1
Name: count, dtype: int64


is_cod_comp_17
0    26725
1       17
Name: count, dtype: int64


is_cod_comp_18
0    26677
1       65
Name: count, dtype: int64


is_cod_comp_19
0    26735
1        7
Name: count, dtype: int64


is_cod_comp_20
0    26657
1       85
Name: count, dtype: int64


is_cod_comp_21
0    25519
1     1223
Name: count, dtype: int64


is_cod_comp_22
0    26196
1      546
Name: count, dtype: int64


is_cod_comp_23
0    23717
1     3025
Name: count, dtype: int64


is_cod_comp_24
0    26683
1       59
Name: count, dtype: int64


is_cod_comp_25
0    26706
1       36
Name: count, dtype: int64


is_cod_comp_26
0    26742
Name: count, dtype: int64


is_cod_comp_27
0    26509
1      233
Name: count, dtype: int64


is_cod_comp_28
0    26657
1       85
Name: count, dtype: int64


is_cod_comp_29
0    26592
1      150
Name: count, dtype: int64


is_cod_comp_30
0    26048
1      694
Name: count, dtype: int64


is_cod_comp_31
0    26616
1      126
Name: count, dtype: int64


is_cod_comp_32
0    25555
1     1187
Name: count, dtype: int64


is_cod_comp_33
0    26737
1        5
Name: count, dtype: int64


is_cod_comp_34
0    26742
Name: count, dtype: int64


is_cod_comp_35
0    26739
1        3
Name: count, dtype: int64


is_cod_comp_36
0    26737
1        5
Name: count, dtype: int64


is_cod_comp_37
0    26555
1      187
Name: count, dtype: int64


is_cod_comp_38
0    26622
1      120
Name: count, dtype: int64


is_cod_comp_39
0    26403
1      339
Name: count, dtype: int64


is_cod_comp_40
0    25954
1      788
Name: count, dtype: int64


is_cod_comp_41
0    25667
1     1075
Name: count, dtype: int64


is_cod_comp_42
0    26622
1      120
Name: count, dtype: int64


is_cod_comp_43
0    26676
1       66
Name: count, dtype: int64


is_cod_comp_44
0    26706
1       36
Name: count, dtype: int64


is_cod_comp_45
0    26714
1       28
Name: count, dtype: int64


is_cod_comp_46
0    26628
1      114
Name: count, dtype: int64


is_cod_comp_47
0    26621
1      121
Name: count, dtype: int64


is_cod_comp_48
1    16966
0     9776
Name: count, dtype: int64


is_cod_comp_49
0    26732
1       10
Name: count, dtype: int64


is_cod_comp_50
0    26683
1       59
Name: count, dtype: int64


is_cod_comp_51
0    26731
1       11
Name: count, dtype: int64


is_cod_comp_52
0    26279
1      463
Name: count, dtype: int64


is_cod_comp_53
0    26653
1       89
Name: count, dtype: int64


is_cod_comp_54
0    26522
1      220
Name: count, dtype: int64


is_cod_comp_55
0    24557
1     2185
Name: count, dtype: int64


is_cod_comp_56
0    26606
1      136
Name: count, dtype: int64


is_cod_comp_57
0    26638
1      104
Name: count, dtype: int64


is_cod_comp_58
0    24803
1     1939
Name: count, dtype: int64


is_cod_comp_59
0    26742
Name: count, dtype: int64


is_cod_comp_60
0    26729
1       13
Name: count, dtype: int64


is_cod_comp_61
0    26437
1      305
Name: count, dtype: int64


is_cod_comp_62
0    26091
1      651
Name: count, dtype: int64


is_cod_comp_63
0    26730
1       12
Name: count, dtype: int64


is_cod_comp_64
0    26223
1      519
Name: count, dtype: int64


is_cod_comp_65
0    26699
1       43
Name: count, dtype: int64


is_cod_comp_66
0    26703
1       39
Name: count, dtype: int64


is_cod_comp_67
0    26712
1       30
Name: count, dtype: int64


is_cod_comp_68
0    26735
1        7
Name: count, dtype: int64


is_cod_comp_69
0    25994
1      748
Name: count, dtype: int64


is_cod_comp_70
0    25998
1      744
Name: count, dtype: int64


is_cod_comp_71
0    26736
1        6
Name: count, dtype: int64


is_cod_comp_72
0    26727
1       15
Name: count, dtype: int64


is_cod_comp_73
0    26703
1       39
Name: count, dtype: int64


is_cod_comp_74
0    26724
1       18
Name: count, dtype: int64


is_cod_comp_75
0    26714
1       28
Name: count, dtype: int64


is_cod_comp_76
0    25771
1      971
Name: count, dtype: int64


is_cod_comp_77
0    26691
1       51
Name: count, dtype: int64


is_cod_comp_78
0    26686
1       56
Name: count, dtype: int64


is_cod_comp_79
0    26740
1        2
Name: count, dtype: int64


is_cod_comp_80
0    26733
1        9
Name: count, dtype: int64


is_cod_comp_81
0    26684
1       58
Name: count, dtype: int64


is_cod_comp_82
0    26734
1        8
Name: count, dtype: int64


is_cod_comp_83
0    26736
1        6
Name: count, dtype: int64


is_cod_comp_84
0    26738
1        4
Name: count, dtype: int64


is_cod_comp_85
0    26511
1      231
Name: count, dtype: int64


is_cod_comp_86
0    26710
1       32
Name: count, dtype: int64


is_cod_comp_87
0    26739
1        3
Name: count, dtype: int64


is_cod_comp_88
0    26739
1        3
Name: count, dtype: int64


is_acc_req
0    25423
1     1319
Name: count, dtype: int64


idnt_motf_piec_comp
na    18787
30     1935
34     1910
10      991
6       945
9       743
8       371
35      232
23      147
11      121
31       89
7        79
18       53
22       51
40       49
20       40
33       38
32       29
21       25
50       24
55       23
56       15
51       14
41        6
37        6
15        3
36        3
27        3
19        2
53        2
75        1
45        1
84        1
24        1
46        1
70        1
Name: count, dtype: int64


sit_ratt
X    18815
L      947
M      878
H      639
I      597
K      579
A      545
E      543
P      525
F      494
O      386
C      359
B      335
J      304
G      298
D      178
N      104
S       69
T       61
R       41
U       28
Q       17
Name: count, dtype: int64


soc_cons
X    18806
B     2957
J     1121
K     1000
A      947
I      881
F      666
D      233
E       76
H       28
G       26
C        1
Name: count, dtype: int64


nb_appels
0      7108
1      4445
2      2818
3      1871
4      1429
       ...
857       1
214       1
192       1
241       1
122       1
Name: count, Length: 263, dtype: int64


nb_eqpt_rendu
0     10249
3      7913
2      6362
1      1107
4       902
5       161
6        33
7         8
8         3
9         2
10        1
11        1
Name: count, dtype: int64


is_rendu_A
0    26742
Name: count, dtype: int64


is_rendu_B
0    13451
1    13291
Name: count, dtype: int64


is_rendu_C
0    24751
1     1991
Name: count, dtype: int64


is_rendu_D
0    26742
Name: count, dtype: int64


is_rendu_E
0    18801
1     7941
Name: count, dtype: int64


is_rendu_F
0    26154
1      588
Name: count, dtype: int64


is_rendu_G
0    26742
Name: count, dtype: int64


is_rendu_H
0    24959
1     1783
Name: count, dtype: int64


is_rendu_I
1    15483
0    11259
Name: count, dtype: int64


is_attendu_A
0    26742
Name: count, dtype: int64


is_attendu_B
0    24315
1     2427
Name: count, dtype: int64


is_attendu_C
0    26280
1      462
Name: count, dtype: int64


is_attendu_D
0    26731
1       11
Name: count, dtype: int64


is_attendu_E
0    24781
1     1961
Name: count, dtype: int64


is_attendu_F
0    26586
1      156
Name: count, dtype: int64


is_attendu_G
0    26742
Name: count, dtype: int64


is_attendu_H
0    26262
1      480
Name: count, dtype: int64


is_attendu_I
0    23946
1     2796
Name: count, dtype: int64


is_evnm_decl_1
0    26322
1      420
Name: count, dtype: int64


is_evnm_decl_3
0    24032
1     2710
Name: count, dtype: int64


is_evnm_decl_4
0    13374
1    13368
Name: count, dtype: int64


is_evnm_decl_5
0    26740
1        2
Name: count, dtype: int64


nb_eqpt_attendu
0     22380
1      1796
2      1136
3      1030
4       225
5       101
6        47
7        14
8         7
9         4
10        1
11        1
Name: count, dtype: int64


nb_chgt_rib
0    26663
1       76
4        2
3        1
Name: count, dtype: int64


nb_ssc_typ_1
0     25860
1       844
2        28
3         6
4         2
10        1
5         1
Name: count, dtype: int64


nb_ssc_typ_2
0    26742
Name: count, dtype: int64


nb_ssc_typ_3
0    26742
Name: count, dtype: int64


nb_ssc_typ_4
0    24690
1     2052
Name: count, dtype: int64


nb_resil_1
0     24299
1      1921
2       162
3        82
4        75
6        41
5        37
7        26
8        20
9        16
10       16
11       11
14        8
12        8
13        5
15        4
18        3
16        2
20        2
21        1
28        1
31        1
19        1
Name: count, dtype: int64


nb_resil_2
0    26742
Name: count, dtype: int64


nb_resil_3
0    26742
Name: count, dtype: int64


nb_resil_4
1    19064
0     7653
2       19
4        3
8        1
3        1
5        1
Name: count, dtype: int64


nb_mig_typ_1
0    24705
1     1553
2      372
3       75
4       24
5        9
8        2
6        2
Name: count, dtype: int64


nb_mig_typ_2
0    26742
Name: count, dtype: int64


nb_mig_typ_3
0    26742
Name: count, dtype: int64


nb_mig_typ_4
0    25027
1     1558
2      141
3       13
4        3
Name: count, dtype: int64


nb_impayes
0     24131
1      1419
2       541
3       251
4       157
5       109
6        66
7        37
8        13
9        10
10        6
11        1
12        1
Name: count, dtype: int64


pa_en_cours
0    14447
1    12295
Name: count, dtype: int64


nb_act_vent
0    24272
1     2320
2      130
3       14
4        4
5        2
Name: count, dtype: int64


is_vent_typ_1
0    25369
1     1373
Name: count, dtype: int64


is_vent_typ_2
0    26329
1      413
Name: count, dtype: int64


is_vent_typ_3
0    26702
1       40
Name: count, dtype: int64


is_vent_typ_4
0    26082
1      660
Name: count, dtype: int64


is_vent_typ_5
0    26720
1       22
Name: count, dtype: int64


is_vent_typ_6
0    26735
1        7
Name: count, dtype: int64


is_achat_com_typ_1
0    26045
1      697
Name: count, dtype: int64


is_achat_com_typ_2
0    26357
1      385
Name: count, dtype: int64


is_achat_com_typ_3
0    26502
1      240
Name: count, dtype: int64


is_achat_com_typ_4
0    26683
1       59
Name: count, dtype: int64


is_achat_com_typ_5
0    26517
1      225
Name: count, dtype: int64


is_achat_com_typ_6
0    26550
1      192
Name: count, dtype: int64


is_achat_com_typ_7
0    25854
1      888
Name: count, dtype: int64


is_achat_com_typ_8
0    26513
1      229
Name: count, dtype: int64


is_achat_com_typ_9
0    26739
1        3
Name: count, dtype: int64


is_achat_com_typ_10
0    26735
1        7
Name: count, dtype: int64


is_achat_com_typ_11
0    26731
1       11
Name: count, dtype: int64


is_achat_com_typ_12
0    26735
1        7
Name: count, dtype: int64


is_achat_com_typ_13
0    26741
1        1
Name: count, dtype: int64


is_achat_lig_typ_1
0    26045
1      697
Name: count, dtype: int64


is_achat_lig_typ_2
0    26357
1      385
Name: count, dtype: int64


is_achat_lig_typ_3
0    26502
1      240
Name: count, dtype: int64


is_achat_lig_typ_4
0    26683
1       59
Name: count, dtype: int64


is_achat_lig_typ_5
0    26492
1      250
Name: count, dtype: int64


is_achat_lig_typ_6
0    26550
1      192
Name: count, dtype: int64


is_achat_lig_typ_7
0    25854
1      888
Name: count, dtype: int64


is_achat_lig_typ_8
0    25607
1     1135
Name: count, dtype: int64


is_achat_lig_typ_9
0    26672
1       70
Name: count, dtype: int64


is_achat_lig_typ_10
0    26513
1      229
Name: count, dtype: int64


is_achat_lig_typ_11
0    26736
1        6
Name: count, dtype: int64


is_achat_lig_typ_12
0    26741
1        1
Name: count, dtype: int64


sum_achat_typ_A
0.00       24303
20.00        137
60.99        115
12.99         73
74.99         63
           ...
955.89         1
851.98         1
97.89          1
97.88          1
1991.97        1
Name: count, Length: 976, dtype: int64


sum_achat_typ_B
 0.00      25276
-1.00        565
-6.00         19
-458.10       17
-387.10       15
           ...
-848.47        1
-449.90        1
-939.10        1
-27.10         1
-288.00        1
Name: count, Length: 377, dtype: int64


sum_achat_typ_C
 0.00      25987
-80.00       353
-50.00       168
-70.00        80
-100.00       60
-30.00        39
-150.00       14
-160.00       13
-110.00        6
-140.00        5
-200.00        4
-120.00        4
-130.00        2
-240.00        2
-250.00        1
-280.00        1
-159.99        1
-320.00        1
-210.00        1
Name: count, dtype: int64


sum_achat_typ_D
 0.0      26272
-20.0       122
-3.0         82
-50.0        60
-70.0        52
-150.0       33
-100.0       32
-30.0        21
-10.0        15
-200.0       13
-40.0         8
-120.0        7
-80.0         5
-21.0         3
-96.0         3
-160.0        2
-220.0        2
-197.8        1
-250.0        1
-90.0         1
-38.9         1
-23.0         1
-240.0        1
-60.0         1
-140.0        1
-168.0        1
-149.0        1
Name: count, dtype: int64


sum_achat_typ_E
 0.00       24408
 60.99         99
 55.99         90
 11.99         83
 20.00         71
            ...
 120.89         1
-7.01           1
 1004.89        1
 45.99          1
 1423.87        1
Name: count, Length: 978, dtype: int64


sum_achat_typ_F
0      26193
192      367
96        40
144       39
168       32
72        23
384       14
120       14
48        11
576        2
240        2
264        1
456        1
288        1
768        1
360        1
Name: count, dtype: int64


sum_achat_typ_G
0     26193
24      526
48       18
72        4
96        1
Name: count, dtype: int64


sum_achat_typ_H
0     26193
8       367
4        40
6        39
7        32
3        23
16       14
5        14
2        11
24        2
10        2
11        1
19        1
12        1
32        1
15        1
Name: count, dtype: int64


sum_dur_crdt
0      26636
72        47
48        18
24        16
108        9
144        6
96         4
36         3
12         2
252        1
Name: count, dtype: int64


sum_mont_crdt
0.00       26636
1884.00        7
1100.00        3
1684.00        3
2024.00        3
           ...
2979.92        1
2223.80        1
1503.80        1
992.00         1
3740.97        1
Name: count, Length: 86, dtype: int64


nb_ig
0     19330
1      4355
2      1834
3       632
4       261
5       130
6        83
7        42
8        22
9        15
10       12
11        8
12        5
13        4
16        3
15        2
17        1
20        1
19        1
14        1
Name: count, dtype: int64


last_ig_crtn
-1      19330
 101       93
 127       89
 87        87
 120       78
        ...
 18         8
 19         7
 38         6
 11         5
 29         5
Name: count, Length: 182, dtype: int64


is_ig_1p
0    20727
1     6015
Name: count, dtype: int64


is_ig_3p
0    25016
1     1726
Name: count, dtype: int64


is_ig_acces
0    20664
1     6078
Name: count, dtype: int64


is_ig_service
0    26742
Name: count, dtype: int64


is_ig_eqpm_1
0    22124
1     4618
Name: count, dtype: int64


is_ig_eqpm_2
0    24770
1     1972
Name: count, dtype: int64


is_ig_eqpm_3
0    25263
1     1479
Name: count, dtype: int64


is_ig_eqpm_4
0    26001
1      741
Name: count, dtype: int64


is_ig_eqpm_5
0    23668
1     3074
Name: count, dtype: int64


is_ig_eqpm_6
0    26040
1      702
Name: count, dtype: int64


is_ig_eqpm_7
0    26649
1       93
Name: count, dtype: int64


is_ig_eqpm_8
0    26330
1      412
Name: count, dtype: int64


nb_lig_mob_pu
 1     9290
 0     8106
 2     4487
 3     1860
-1     1398
 4      871
 5      363
 6      142
 7       78
 8       37
 9       21
 10      17
 13      13
 12      11
 15      11
 16       8
 11       7
 17       4
 14       4
 34       4
 20       2
 19       2
 18       2
 22       1
 21       1
 30       1
 89       1
Name: count, dtype: int64


nb_lig_fix_pu
 1     20758
 0      3134
-1      1398
 2      1282
 3       106
 4        20
 5         8
 6         5
 21        5
 9         4
 12        3
 10        3
 8         3
 7         2
 47        1
 32        1
 44        1
 15        1
 25        1
 16        1
 23        1
 26        1
 11        1
 14        1
 28        1
Name: count, dtype: int64


is_gam_1
0    26716
1       26
Name: count, dtype: int64


is_gam_2
0    26624
1      118
Name: count, dtype: int64


is_gam_3
0    26618
1      124
Name: count, dtype: int64


is_gam_4
0    26659
1       83
Name: count, dtype: int64


is_gam_5
0    26168
1      574
Name: count, dtype: int64


numr_cycl_fact
1.0     3841
8.0     3653
7.0     3322
4.0     3243
6.0     2851
5.0     2821
3.0     2585
2.0     2117
NaN     1398
17.0     144
31.0     131
12.0     128
0.0      119
33.0     119
34.0      33
38.0      32
14.0      27
11.0      26
37.0      25
18.0      25
15.0      21
16.0      20
13.0      16
32.0      16
35.0      15
36.0      14
Name: count, dtype: int64


flg_pu_prrt
0    23735
1     3007
Name: count, dtype: int64


nb_lig_mob_fgr
 1      8567
 0      7926
 2      4800
 3      2228
-1      1398
 4      1047
 5       471
 6       171
 7        76
 8        25
 9        10
 10        6
 11        4
 13        3
 17        2
 327       2
 20        1
 15        1
 460       1
 278       1
 572       1
 721       1
Name: count, dtype: int64


nb_lig_fix_fgr
 1       19197
 0        3765
 2        2097
-1        1398
 3         221
 4          30
 5          12
 8           3
 574         2
 7           2
 6           2
 10          2
 11          2
 46          1
 494         1
 17          1
 34          1
 77          1
 1097        1
 13          1
 840         1
 33          1
Name: count, dtype: int64


flg_op
0    26645
1       97
Name: count, dtype: int64


flg_op_2
0    26742
Name: count, dtype: int64


sum_prx_offr_bse_arr_ttc
0      3616
36     2830
33     2754
38     1743
34     1584
       ...
307       1
227       1
455       1

## Feature MONT_REMB_INIT

In [9]:
#PRETRAITEMENT PARTICULIER MONT REMB INIT
col_remb = df['mont_remb_init']
col_remb = col_remb.replace(250, '250')
col_remb = col_remb.replace(180, '180')
col_remb = col_remb.replace(290, '290')
col_remb.loc[col_remb.isin(['250', '180', '290'])==False] = pd.qcut(
    col_remb.loc[col_remb.isin(['250', '180', '290'])==False].astype('float64'), 
    5, labels = ['100-114','114-150','150-220', '220-344', '344-3300' ], duplicates='drop')

df['mont_remb_init'] = col_remb

In [10]:
df['mont_remb_init'].value_counts()

mont_remb_init
250         9417
290         3131
100-114     2535
344-3300    2527
220-344     2526
150-220     2523
114-150     2521
180         1562
Name: count, dtype: int64

## Drop column with only one value or column with 2 differents values but less than 5 occurences

In [11]:
for col in df.columns:
    if len(df[col].unique()) == 1:
        print(col)
        df = df.drop(col,axis=1)
        
    elif len(df[col].unique()) == 2 :
        if np.any(df[col].value_counts().values<5) :
            print(col)
            #print(df[col].value_counts())
            df = df.drop(col,axis=1)

is_cod_comp_3
is_cod_comp_12
is_cod_comp_16
is_cod_comp_26
is_cod_comp_34
is_cod_comp_35
is_cod_comp_59
is_cod_comp_79
is_cod_comp_84
is_cod_comp_87
is_cod_comp_88
is_rendu_A
is_rendu_D
is_rendu_G
is_attendu_A
is_attendu_G
is_evnm_decl_5
nb_ssc_typ_2
nb_ssc_typ_3
nb_resil_2
nb_resil_3
nb_mig_typ_2
nb_mig_typ_3
is_achat_com_typ_9
is_achat_com_typ_13
is_achat_lig_typ_12
is_ig_service
flg_op_2
flg_fut_cds

## PRETRAITEMENT PARTICULIER sum_mont_avr

In [12]:
#PRETRAITEMENT PARTICULIER sum_mont_avr
col_sum = df['sum_mont_avr']
col_sum = col_sum.replace(-250, '-250')
col_sum = col_sum.replace(-180, '-180')
col_sum = col_sum.replace(-290, '-290')
col_sum.loc[col_sum.isin(['-250', '-180', '-290'])==False] = pd.qcut(
    col_sum.loc[col_sum.isin(['-250', '-180', '-290'])==False].astype('float64'), 
    5, labels = ['-3562,-382','-382,-289','-289,-204', '-204,-132', '-132,0'], duplicates='drop')

df['sum_mont_avr'] = col_sum

In [13]:
df['sum_mont_avr'].value_counts()

sum_mont_avr
-250          7856
-289,-204     3022
-204,-132     3016
-382,-289     3002
-3562,-382    2999
-132,0        2946
-290          2728
-180          1173
Name: count, dtype: int64

## Regroup less frequent values together

In [14]:
def orphan_values(col, min_value) :
    df[col] = df[col].replace(sorted(df[col].unique())[min_value:], str(min_value)+'_plus')
    df[col] = df[col].astype('str')

In [15]:
orphan_values('nb_eqpt_rendu', 5)

In [16]:
orphan_values('nb_appels', 23)

In [17]:
orphan_values('nb_lig_mob_pu', 5)

In [18]:
orphan_values('nb_lig_mob_fgr',5)

In [19]:
orphan_values('nb_lig_fix_pu',4)

In [20]:
orphan_values('nb_chgt_rib',1)

In [21]:
df['nb_chgt_rib'].value_counts()

nb_chgt_rib
0         26663
1_plus       79
Name: count, dtype: int64

In [22]:
df = df.loc[df['soc_cons']!='C']

## Replace Nan with specific number

In [23]:
df['numr_cycl_fact'] = df['numr_cycl_fact'].replace(np.nan, -1)
df['numr_cycl_fact'].value_counts(dropna=False)

numr_cycl_fact
 1.0     3841
 8.0     3653
 7.0     3322
 4.0     3242
 6.0     2851
 5.0     2821
 3.0     2585
 2.0     2117
-1.0     1398
 17.0     144
 31.0     131
 12.0     128
 0.0      119
 33.0     119
 34.0      33
 38.0      32
 14.0      27
 11.0      26
 37.0      25
 18.0      25
 15.0      21
 16.0      20
 13.0      16
 32.0      16
 35.0      15
 36.0      14
Name: count, dtype: int64

In [24]:
df['idnt_motf_piec_comp'] = df['idnt_motf_piec_comp'].replace('na', -1)
df['idnt_motf_piec_comp'] = df['idnt_motf_piec_comp'].astype('int32')
df['idnt_motf_piec_comp'].value_counts(dropna=False)

idnt_motf_piec_comp
-1     18787
 30     1934
 34     1910
 10      991
 6       945
 9       743
 8       371
 35      232
 23      147
 11      121
 31       89
 7        79
 18       53
 22       51
 40       49
 20       40
 33       38
 32       29
 21       25
 50       24
 55       23
 56       15
 51       14
 41        6
 37        6
 15        3
 36        3
 27        3
 19        2
 53        2
 75        1
 45        1
 84        1
 24        1
 46        1
 70        1
Name: count, dtype: int64

In [25]:
df['idnt_motf_piec_comp'] = pd.qcut(df['idnt_motf_piec_comp'], 5, labels = ['-1','autre'], duplicates='drop')

In [26]:
df['idnt_motf_piec_comp']

id
1           -1
2           -1
3           -1
4           -1
5        autre
         ...
26738    autre
26739       -1
26740       -1
26741       -1
26742       -1
Name: idnt_motf_piec_comp, Length: 26741, dtype: category
Categories (2, object): ['-1' < 'autre']

## Quantile-based discretization

In [27]:
df['sum_prx_offr_bse_arr_ttc'] = pd.qcut(df['sum_prx_offr_bse_arr_ttc'], 5, labels=False)

In [29]:
#df['anc_cp_jours'] = pd.qcut(df['anc_cp_jours'], 5, labels=False)

In [30]:
df['sum_mmf3_cds'] = pd.qcut(df['sum_mmf3_cds'], 5, labels=False,duplicates='drop')

In [31]:
df['sum_dur_crdt'].loc[df['sum_dur_crdt']!=0] = 1

/var/folders/m7/x040g7pj7rgg18j8yj5b14gw0000gn/T/ipykernel_13868/3528659070.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sum_dur_crdt'].loc[df['sum_dur_crdt']!=0] = 1

In [32]:
df['sum_mont_crdt'].loc[df['sum_mont_crdt']!=0] = 1

/var/folders/m7/x040g7pj7rgg18j8yj5b14gw0000gn/T/ipykernel_13868/2312795950.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sum_mont_crdt'].loc[df['sum_mont_crdt']!=0] = 1

In [33]:
df['anc_dernier_repri'].loc[df['anc_dernier_repri']!=0] = 1

/var/folders/m7/x040g7pj7rgg18j8yj5b14gw0000gn/T/ipykernel_13868/3231036602.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['anc_dernier_repri'].loc[df['anc_dernier_repri']!=0] = 1

In [34]:
df['anc_dernier_cibl_enrichi'].loc[df['anc_dernier_cibl_enrichi']!=0] = 1

/var/folders/m7/x040g7pj7rgg18j8yj5b14gw0000gn/T/ipykernel_13868/258784937.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['anc_dernier_cibl_enrichi'].loc[df['anc_dernier_cibl_enrichi']!=0] = 1

In [35]:
df['anc_dernier_refus_enrichi'].loc[df['anc_dernier_refus_enrichi']!=0] = 1

/var/folders/m7/x040g7pj7rgg18j8yj5b14gw0000gn/T/ipykernel_13868/415494574.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['anc_dernier_refus_enrichi'].loc[df['anc_dernier_refus_enrichi']!=0] = 1

In [36]:
df = df.drop(list(df.columns[df.columns.str.contains('sum_achat_typ')]), axis=1)

### Retrieve columns where there are values with less than 5 occurrences.

In [37]:
cols = []

for col in df.columns:
    if np.any(df[col].value_counts().values<5) :
        print(col)
        cols.append(col)

nb_avr_typ_a
nb_avr_typ_b
nb_avr_typ_c
nb_avr_typ_d
nb_pa_rjt
nb_eqpt_attendu
nb_ssc_typ_1
nb_resil_1
nb_resil_4
nb_mig_typ_1
nb_mig_typ_4
nb_impayes
nb_act_vent
nb_ig
nb_lig_fix_fgr
nb_repri
nb_cibl_enrichi
nb_enrichi_refus

In [38]:
def is_sum_grd(data,i=2):
    if data.value_counts()[i:].sum() > data.value_counts()[i-1]:
        is_sum_grd(data,i+1)
    else :
        print(data.value_counts().index[i])
        return data.value_counts().index[i]

### Find minimal value for where to regroup

In [39]:
for col in cols :
    print(col)
    mn = is_sum_grd(df[col])
    orphan_values(col, mn)

nb_avr_typ_a
2
nb_avr_typ_b
2
nb_avr_typ_c
2
nb_avr_typ_d
2
nb_pa_rjt
2
nb_eqpt_attendu
4
nb_ssc_typ_1
2
nb_resil_1
2
nb_resil_4
2
nb_mig_typ_1
2
nb_mig_typ_4
2
nb_impayes
2
nb_act_vent
2
nb_ig
2
nb_lig_fix_fgr
2
nb_repri
2
nb_cibl_enrichi
2
nb_enrichi_refus
2

In [40]:
df[['mont_remb_init', 'sum_mont_avr']].loc[df['cible']==1]

      mont_remb_init sum_mont_avr
id
4            220-344    -382,-289
8                290         -290
11               250    -382,-289
18           114-150    -204,-132
21           220-344    -382,-289
...              ...          ...
26720            250         -250
26722            290         -290
26723            250    -289,-204
26734        114-150    -289,-204
26738        220-344    -289,-204

[3837 rows x 2 columns]

In [41]:
df[['mont_remb_init', 'sum_mont_avr']].loc[df['cible']==0]

      mont_remb_init sum_mont_avr
id
1                290         -290
2            100-114    -204,-132
3            100-114       -132,0
5            220-344    -289,-204
6                250         -250
...              ...          ...
26737        114-150       -132,0
26739            250    -289,-204
26740            250         -250
26741       344-3300   -3562,-382
26742            250         -250

[22904 rows x 2 columns]

In [42]:
df['cible'].value_counts(dropna=False)

cible
0    22904
1     3837
Name: count, dtype: int64

In [43]:
df

,mont_remb_init,nb_avr_typ_a,nb_avr_typ_b,nb_avr_typ_c,nb_avr_typ_d,sum_mont_avr,nb_pa_rjt,typ_avr_decl,is_cod_comp_1,is_cod_comp_2,...,max_flg_pro_cds,flg_coll,sum_mmf3_cds,nb_repri,anc_dernier_repri,nb_cibl_enrichi,anc_dernier_cibl_enrichi,nb_enrichi_refus,anc_dernier_refus_enrichi,cible
id,,,,,,,,,,,,,,,,,,,,,
1,290,0,0,1,0,-290,0,A,0,0,...,0,0,0,0,1,0,1,0,1,0
2,100-114,1,0,0,0,"-204,-132",2_plus,B,0,0,...,0,0,0,0,1,0,1,0,1,0
3,100-114,0,0,1,0,"-132,0",0,A,0,0,...,0,0,0,0,1,0,1,0,1,0
4,220-344,1,0,0,0,"-382,-289",0,B,0,0,...,0,0,1,0,1,1,1,1,1,1
5,220-344,2_plus,0,0,0,"-289,-204",0,B,0,0,...,0,0,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26738,220-344,1,0,0,0,"-289,-204",0,B,0,0,...,0,0,1,0,1,1,1,0,1,1
26739,250,0,0,2_plus,0,"-289,-204",0,A,0,0,...,0,0,0,0,1,0,1,0,1,0
26740,250,0,0,1,0,-250,0,A,0,0,...,0,0,0,0,1,0,1,0,1,0
26741,344-3300,0,0,1,0,"-3562,-382",0,A,0,0,...,0,0,0,0,1,0,1,0,1,0
26742,250,0,0,1,0,-250,0,A,0,0,...,0,0,0,0,1,0,1,0,1,0

In [44]:
def cutqcut(df, nb = 30, nb_bins=10) :
    for col in df.columns:
        if len(df[col].unique()) > nb:
            if df[col].dtype != 'object' :
                print(col)
                print(len(df[col].unique()))
                df[col] = pd.cut(df[col], nb_bins, labels=False, duplicates='drop') #

    return df

In [45]:
cutqcut(df, nb=9, nb_bins=9)

last_ig_crtn
182
numr_cycl_fact
26

,mont_remb_init,nb_avr_typ_a,nb_avr_typ_b,nb_avr_typ_c,nb_avr_typ_d,sum_mont_avr,nb_pa_rjt,typ_avr_decl,is_cod_comp_1,is_cod_comp_2,...,max_flg_pro_cds,flg_coll,sum_mmf3_cds,nb_repri,anc_dernier_repri,nb_cibl_enrichi,anc_dernier_cibl_enrichi,nb_enrichi_refus,anc_dernier_refus_enrichi,cible
id,,,,,,,,,,,,,,,,,,,,,
1,290,0,0,1,0,-290,0,A,0,0,...,0,0,0,0,1,0,1,0,1,0
2,100-114,1,0,0,0,"-204,-132",2_plus,B,0,0,...,0,0,0,0,1,0,1,0,1,0
3,100-114,0,0,1,0,"-132,0",0,A,0,0,...,0,0,0,0,1,0,1,0,1,0
4,220-344,1,0,0,0,"-382,-289",0,B,0,0,...,0,0,1,0,1,1,1,1,1,1
5,220-344,2_plus,0,0,0,"-289,-204",0,B,0,0,...,0,0,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26738,220-344,1,0,0,0,"-289,-204",0,B,0,0,...,0,0,1,0,1,1,1,0,1,1
26739,250,0,0,2_plus,0,"-289,-204",0,A,0,0,...,0,0,0,0,1,0,1,0,1,0
26740,250,0,0,1,0,-250,0,A,0,0,...,0,0,0,0,1,0,1,0,1,0
26741,344-3300,0,0,1,0,"-3562,-382",0,A,0,0,...,0,0,0,0,1,0,1,0,1,0
26742,250,0,0,1,0,-250,0,A,0,0,...,0,0,0,0,1,0,1,0,1,0

In [46]:
for col in df.columns :
    print(df[col].value_counts(dropna=False))
    print('\n')

mont_remb_init
250         9417
290         3131
100-114     2535
344-3300    2527
220-344     2525
150-220     2523
114-150     2521
180         1562
Name: count, dtype: int64


nb_avr_typ_a
0         17391
1          7927
2_plus     1423
Name: count, dtype: int64


nb_avr_typ_b
0         26338
1           331
2_plus       72
Name: count, dtype: int64


nb_avr_typ_c
1         16224
0          7295
2_plus     3222
Name: count, dtype: int64


nb_avr_typ_d
0         26276
1           416
2_plus       49
Name: count, dtype: int64


sum_mont_avr
-250          7856
-289,-204     3022
-204,-132     3016
-382,-289     3001
-3562,-382    2999
-132,0        2946
-290          2728
-180          1173
Name: count, dtype: int64


nb_pa_rjt
0         21354
1          3745
2_plus     1642
Name: count, dtype: int64


typ_avr_decl
A    18420
B     8001
C      180
D      130
E       10
Name: count, dtype: int64


is_cod_comp_1
0    26724
1       17
Name: count, dtype: int64


is_cod_comp_2
0    25011
1     1730
Name: count, dtype: int64


is_cod_comp_4
0    19490
1     7251
Name: count, dtype: int64


is_cod_comp_5
0    26381
1      360
Name: count, dtype: int64


is_cod_comp_6
0    26708
1       33
Name: count, dtype: int64


is_cod_comp_7
0    26371
1      370
Name: count, dtype: int64


is_cod_comp_8
0    26609
1      132
Name: count, dtype: int64


is_cod_comp_9
0    26176
1      565
Name: count, dtype: int64


is_cod_comp_10
0    25758
1      983
Name: count, dtype: int64


is_cod_comp_11
0    26732
1        9
Name: count, dtype: int64


is_cod_comp_13
0    25867
1      874
Name: count, dtype: int64


is_cod_comp_14
0    26280
1      461
Name: count, dtype: int64


is_cod_comp_15
0    26318
1      423
Name: count, dtype: int64


is_cod_comp_17
0    26724
1       17
Name: count, dtype: int64


is_cod_comp_18
0    26676
1       65
Name: count, dtype: int64


is_cod_comp_19
0    26734
1        7
Name: count, dtype: int64


is_cod_comp_20
0    26656
1       85
Name: count, dtype: int64


is_cod_comp_21
0    25518
1     1223
Name: count, dtype: int64


is_cod_comp_22
0    26195
1      546
Name: count, dtype: int64


is_cod_comp_23
0    23716
1     3025
Name: count, dtype: int64


is_cod_comp_24
0    26682
1       59
Name: count, dtype: int64


is_cod_comp_25
0    26705
1       36
Name: count, dtype: int64


is_cod_comp_27
0    26508
1      233
Name: count, dtype: int64


is_cod_comp_28
0    26656
1       85
Name: count, dtype: int64


is_cod_comp_29
0    26591
1      150
Name: count, dtype: int64


is_cod_comp_30
0    26047
1      694
Name: count, dtype: int64


is_cod_comp_31
0    26615
1      126
Name: count, dtype: int64


is_cod_comp_32
0    25554
1     1187
Name: count, dtype: int64


is_cod_comp_33
0    26736
1        5
Name: count, dtype: int64


is_cod_comp_36
0    26736
1        5
Name: count, dtype: int64


is_cod_comp_37
0    26554
1      187
Name: count, dtype: int64


is_cod_comp_38
0    26621
1      120
Name: count, dtype: int64


is_cod_comp_39
0    26402
1      339
Name: count, dtype: int64


is_cod_comp_40
0    25953
1      788
Name: count, dtype: int64


is_cod_comp_41
0    25666
1     1075
Name: count, dtype: int64


is_cod_comp_42
0    26621
1      120
Name: count, dtype: int64


is_cod_comp_43
0    26675
1       66
Name: count, dtype: int64


is_cod_comp_44
0    26705
1       36
Name: count, dtype: int64


is_cod_comp_45
0    26713
1       28
Name: count, dtype: int64


is_cod_comp_46
0    26627
1      114
Name: count, dtype: int64


is_cod_comp_47
0    26620
1      121
Name: count, dtype: int64


is_cod_comp_48
1    16966
0     9775
Name: count, dtype: int64


is_cod_comp_49
0    26731
1       10
Name: count, dtype: int64


is_cod_comp_50
0    26682
1       59
Name: count, dtype: int64


is_cod_comp_51
0    26730
1       11
Name: count, dtype: int64


is_cod_comp_52
0    26278
1      463
Name: count, dtype: int64


is_cod_comp_53
0    26652
1       89
Name: count, dtype: int64


is_cod_comp_54
0    26521
1      220
Name: count, dtype: int64


is_cod_comp_55
0    24556
1     2185
Name: count, dtype: int64


is_cod_comp_56
0    26605
1      136
Name: count, dtype: int64


is_cod_comp_57
0    26637
1      104
Name: count, dtype: int64


is_cod_comp_58
0    24802
1     1939
Name: count, dtype: int64


is_cod_comp_60
0    26728
1       13
Name: count, dtype: int64


is_cod_comp_61
0    26436
1      305
Name: count, dtype: int64


is_cod_comp_62
0    26090
1      651
Name: count, dtype: int64


is_cod_comp_63
0    26729
1       12
Name: count, dtype: int64


is_cod_comp_64
0    26222
1      519
Name: count, dtype: int64


is_cod_comp_65
0    26698
1       43
Name: count, dtype: int64


is_cod_comp_66
0    26702
1       39
Name: count, dtype: int64


is_cod_comp_67
0    26711
1       30
Name: count, dtype: int64


is_cod_comp_68
0    26734
1        7
Name: count, dtype: int64


is_cod_comp_69
0    25993
1      748
Name: count, dtype: int64


is_cod_comp_70
0    25997
1      744
Name: count, dtype: int64


is_cod_comp_71
0    26735
1        6
Name: count, dtype: int64


is_cod_comp_72
0    26726
1       15
Name: count, dtype: int64


is_cod_comp_73
0    26702
1       39
Name: count, dtype: int64


is_cod_comp_74
0    26723
1       18
Name: count, dtype: int64


is_cod_comp_75
0    26713
1       28
Name: count, dtype: int64


is_cod_comp_76
0    25770
1      971
Name: count, dtype: int64


is_cod_comp_77
0    26690
1       51
Name: count, dtype: int64


is_cod_comp_78
0    26685
1       56
Name: count, dtype: int64


is_cod_comp_80
0    26732
1        9
Name: count, dtype: int64


is_cod_comp_81
0    26683
1       58
Name: count, dtype: int64


is_cod_comp_82
0    26733
1        8
Name: count, dtype: int64


is_cod_comp_83
0    26735
1        6
Name: count, dtype: int64


is_cod_comp_85
0    26510
1      231
Name: count, dtype: int64


is_cod_comp_86
0    26709
1       32
Name: count, dtype: int64


is_acc_req
0    25422
1     1319
Name: count, dtype: int64


idnt_motf_piec_comp
-1       21916
autre     4825
Name: count, dtype: int64


sit_ratt
X    18815
L      947
M      878
H      639
I      597
K      579
A      545
E      543
P      525
F      494
O      386
C      359
B      335
J      304
G      298
D      178
N      104
S       69
T       61
R       40
U       28
Q       17
Name: count, dtype: int64


soc_cons
X    18806
B     2957
J     1121
K     1000
A      947
I      881
F      666
D      233
E       76
H       28
G       26
Name: count, dtype: int64


nb_appels
0          7108
1          4445
2          2818
23_plus    1961
3          1871
4          1429
5          1111
6           863
7           732
8           647
9           568
10          446
11          390
12          336
13          319
14          284
15          240
16          222
17          217
18          169
19          162
20          156
22          129
21          118
Name: count, dtype: int64


nb_eqpt_rendu
0         10248
3          7913
2          6362
1          1107
4           902
5_plus      209
Name: count, dtype: int64


is_rendu_B
0    13450
1    13291
Name: count, dtype: int64


is_rendu_C
0    24750
1     1991
Name: count, dtype: int64


is_rendu_E
0    18800
1     7941
Name: count, dtype: int64


is_rendu_F
0    26153
1      588
Name: count, dtype: int64


is_rendu_H
0    24958
1     1783
Name: count, dtype: int64


is_rendu_I
1    15483
0    11258
Name: count, dtype: int64


is_attendu_B
0    24314
1     2427
Name: count, dtype: int64


is_attendu_C
0    26279
1      462
Name: count, dtype: int64


is_attendu_D
0    26730
1       11
Name: count, dtype: int64


is_attendu_E
0    24780
1     1961
Name: count, dtype: int64


is_attendu_F
0    26585
1      156
Name: count, dtype: int64


is_attendu_H
0    26261
1      480
Name: count, dtype: int64


is_attendu_I
0    23945
1     2796
Name: count, dtype: int64


is_evnm_decl_1
0    26321
1      420
Name: count, dtype: int64


is_evnm_decl_3
0    24031
1     2710
Name: count, dtype: int64


is_evnm_decl_4
0    13373
1    13368
Name: count, dtype: int64


nb_eqpt_attendu
None_plus    26741
Name: count, dtype: int64


nb_chgt_rib
0         26662
1_plus       79
Name: count, dtype: int64


nb_ssc_typ_1
0         25859
1           844
2_plus       38
Name: count, dtype: int64


nb_ssc_typ_4
0    24689
1     2052
Name: count, dtype: int64


nb_resil_1
0         24298
1          1921
2_plus      522
Name: count, dtype: int64


nb_resil_4
1         19064
0          7652
2_plus       25
Name: count, dtype: int64


nb_mig_typ_1
0         24705
1          1552
2_plus      484
Name: count, dtype: int64


nb_mig_typ_4
0         25026
1          1558
2_plus      157
Name: count, dtype: int64


nb_impayes
0         24130
1          1419
2_plus     1192
Name: count, dtype: int64


pa_en_cours
0    14447
1    12294
Name: count, dtype: int64


nb_act_vent
0         24271
1          2320
2_plus      150
Name: count, dtype: int64


is_vent_typ_1
0    25368
1     1373
Name: count, dtype: int64


is_vent_typ_2
0    26328
1      413
Name: count, dtype: int64


is_vent_typ_3
0    26701
1       40
Name: count, dtype: int64


is_vent_typ_4
0    26081
1      660
Name: count, dtype: int64


is_vent_typ_5
0    26719
1       22
Name: count, dtype: int64


is_vent_typ_6
0    26734
1        7
Name: count, dtype: int64


is_achat_com_typ_1
0    26044
1      697
Name: count, dtype: int64


is_achat_com_typ_2
0    26356
1      385
Name: count, dtype: int64


is_achat_com_typ_3
0    26501
1      240
Name: count, dtype: int64


is_achat_com_typ_4
0    26682
1       59
Name: count, dtype: int64


is_achat_com_typ_5
0    26516
1      225
Name: count, dtype: int64


is_achat_com_typ_6
0    26549
1      192
Name: count, dtype: int64


is_achat_com_typ_7
0    25853
1      888
Name: count, dtype: int64


is_achat_com_typ_8
0    26512
1      229
Name: count, dtype: int64


is_achat_com_typ_10
0    26734
1        7
Name: count, dtype: int64


is_achat_com_typ_11
0    26730
1       11
Name: count, dtype: int64


is_achat_com_typ_12
0    26734
1        7
Name: count, dtype: int64


is_achat_lig_typ_1
0    26044
1      697
Name: count, dtype: int64


is_achat_lig_typ_2
0    26356
1      385
Name: count, dtype: int64


is_achat_lig_typ_3
0    26501
1      240
Name: count, dtype: int64


is_achat_lig_typ_4
0    26682
1       59
Name: count, dtype: int64


is_achat_lig_typ_5
0    26491
1      250
Name: count, dtype: int64


is_achat_lig_typ_6
0    26549
1      192
Name: count, dtype: int64


is_achat_lig_typ_7
0    25853
1      888
Name: count, dtype: int64


is_achat_lig_typ_8
0    25606
1     1135
Name: count, dtype: int64


is_achat_lig_typ_9
0    26671
1       70
Name: count, dtype: int64


is_achat_lig_typ_10
0    26512
1      229
Name: count, dtype: int64


is_achat_lig_typ_11
0    26735
1        6
Name: count, dtype: int64


sum_dur_crdt
0    26635
1      106
Name: count, dtype: int64


sum_mont_crdt
0.0    26635
1.0      106
Name: count, dtype: int64


nb_ig
0         19329
1          4355
2_plus     3057
Name: count, dtype: int64


last_ig_crtn
0    19552
4     1289
6     1192
5     1168
7     1004
3      990
8      952
2      329
1      265
Name: count, dtype: int64


is_ig_1p
0    20726
1     6015
Name: count, dtype: int64


is_ig_3p
0    25015
1     1726
Name: count, dtype: int64


is_ig_acces
0    20663
1     6078
Name: count, dtype: int64


is_ig_eqpm_1
0    22123
1     4618
Name: count, dtype: int64


is_ig_eqpm_2
0    24769
1     1972
Name: count, dtype: int64


is_ig_eqpm_3
0    25262
1     1479
Name: count, dtype: int64


is_ig_eqpm_4
0    26000
1      741
Name: count, dtype: int64


is_ig_eqpm_5
0    23667
1     3074
Name: count, dtype: int64


is_ig_eqpm_6
0    26039
1      702
Name: count, dtype: int64


is_ig_eqpm_7
0    26648
1       93
Name: count, dtype: int64


is_ig_eqpm_8
0    26329
1      412
Name: count, dtype: int64


nb_lig_mob_pu
1         9289
0         8106
2         4487
3         1860
5_plus    1601
-1        1398
Name: count, dtype: int64


nb_lig_fix_pu
1         20758
0          3133
-1         1398
2          1282
4_plus      170
Name: count, dtype: int64


is_gam_1
0    26715
1       26
Name: count, dtype: int64


is_gam_2
0    26623
1      118
Name: count, dtype: int64


is_gam_3
0    26617
1      124
Name: count, dtype: int64


is_gam_4
0    26658
1       83
Name: count, dtype: int64


is_gam_5
0    26167
1      574
Name: count, dtype: int64


numr_cycl_fact
1    12236
0    10060
2     3807
7      266
4      169
8      119
3       84
Name: count, dtype: int64


flg_pu_prrt
0    23734
1     3007
Name: count, dtype: int64


nb_lig_mob_fgr
1         8567
0         7926
2         4800
3         2228
5_plus    1822
-1        1398
Name: count, dtype: int64


nb_lig_fix_fgr
2_plus    21579
0          3764
-1         1398
Name: count, dtype: int64


flg_op
0    26644
1       97
Name: count, dtype: int64


sum_prx_offr_bse_arr_ttc
2    7666
0    5641
4    5310
1    5199
3    2925
Name: count, dtype: int64


new_sub
 0    22471
 1     2872
-1     1398
Name: count, dtype: int64


max_flg_pro_cds
0    25682
1     1059
Name: count, dtype: int64


flg_coll
0    26662
1       79
Name: count, dtype: int64


sum_mmf3_cds
0    21851
1     4890
Name: count, dtype: int64


nb_repri
0         26129
1           584
2_plus       28
Name: count, dtype: int64


anc_dernier_repri
1    26732
0        9
Name: count, dtype: int64


nb_cibl_enrichi
0         25216
1          1486
2_plus       39
Name: count, dtype: int64


anc_dernier_cibl_enrichi
1    26728
0       13
Name: count, dtype: int64


nb_enrichi_refus
0         26224
1           503
2_plus       14
Name: count, dtype: int64


anc_dernier_refus_enrichi
1    26718
0       23
Name: count, dtype: int64


cible
0    22904
1     3837
Name: count, dtype: int64

### Save to CSV

In [47]:
df.to_csv('df_pretreat_v2.csv', index=False)

In [47]:
f"{3.50:g}"

'3.5'

In [48]:
f"{2.00:g}"

'2'

In [49]:
f"{3.505:g}"

'3.505'

In [50]:
f"{300:g}"

'300'

In [51]:
f"{30.00:g}"

'30'